body {
  background-color: crimson;
  font-size: 40px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box1 {
  background-color: green;
  height: 100px;
  width: 100px;
  position: absolute;
  top: 0;
  left: 0;
}

.box2 {
  background-color: blue;
  height: 100px;
  width: 100px;
  position: absolute;
  top: 0;
  right: 0;
}

.box3 {
  background-color: chocolate;
  height: 100px;
  width: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.box4 {
  background-color: darkorchid;
  height: 100px;
  width: 100px;
  position: absolute;
  bottom: 0;
  right: 0;
}
