body {
  background-color: crimson;
  font-size: 40px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

body:hover {
  background-color: burlywood;
  transition: background-color 5s;
}

.box1 {
  background-color: green;
  height: 100px;
  width: 100px;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 5s;
}

.box1:hover {
  background-color: white;
}



.box2 {
  background-color: blue;
  height: 100px;
  width: 100px;
  position: absolute;
  top: 0;
  right: 0;
  transition: background-color 5s;
}

.box2:hover {
  background-color: yellow;
}

.box3 {
  background-color: chocolate;
  height: 100px;
  width: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: background-color 5s;
}

.box3:hover {
background-color: darkgray;  
}

.box4 {
  background-color: darkorchid;
  height: 100px;
  width: 100px;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: background-color 5s;
}

.box4:hover {
  background-color: springgreen;
}
