body {
    background-color: #c3b091;
    color: #c3b091 ;
    font-family: 'Ubuntu Mono', monospace;
    
}

.container {
    background-color: brown;
    width: 600px;
    margin: 100px auto;
    padding: 40px;
    border-radius: 20%;
    border: 10px solid goldenrod;
    

}

.container h1 {
   margin-top: 0;
   font-size: 40px;
   text-transform: uppercase;
   font-weight: 100;
}


.container h2 {
    color: cyan;
    margin-bottom: 0;
    font-size: 28px;
    text-transform: uppercase;
}

.container p {
    font-size: 28px;
}

.container button {
    background-color: #c3b091 ;
    color: white;
    padding: 30px 40px;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}
#link {
    text-decoration: none;
    color: white;
}
.box {
    box-shadow: 20px;
}