body {
    font-family: "Poppins", sans-serif;


}


.project-grid {
    display: grid;
    grid-template-areas: 
    "grid1 grid1 grid2"
    "grid1 grid1 grid3"
    "grid4 grid5 grid3"
    "grid6 grid7 grid7"
    "grid6 grid7 grid7"
    "grid8 grid8 grid9"
    "grid8 grid8 grid9";
    grid-gap: 16px;
    width: 100%; 
    max-width: 90%;
     margin: auto;
        
}

#grid1 {
    grid-area: grid1;
}

#grid2 {
    grid-area: grid2;
}
#grid3 {
    grid-area: grid3;
}

#grid4 {
    grid-area: grid4;

}

#grid5 {
    grid-area: grid5;
}

#grid6 {
    grid-area: grid6;
}

#grid7 {
    grid-area: grid7;
}

#grid8 {
    grid-area: grid8;
}

#grid9 {
    grid-area: grid9;
}

.project {
    /* width: 600px; */
    position: relative;
   
}

.project img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    
}

.project .overlay {
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 120px;
    font-weight: bold;
    letter-spacing: 2px;
    opacity: 0;
    transition: all 0.2s ease-in;
   
}

.project .overlay:hover {
    opacity: 1;
    cursor: pointer;
}