body {
    background-color: #d2f7e7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

h1 {
    margin: 10px;
}

.name {
    display: inline-block;
}

.address {
    margin-top: 20px;
}

.text {
    padding: 0 90px;
}


.general {
    margin-left: 0;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    
}



.enquiry {
   padding: 0 20px;
}

.request {
    padding: 0 20px;
 
}.message {
    margin-top: 20px;
    display: block;

}

textarea {
    resize: none;
    width: 340px;
    height: 70px;
}

.area {
    margin-top: 10px;
    display: block;
    border: 1px solid grey;
}

.area::-webkit-resizer {
    display: none;
}

.check {
    margin-top: 10px;
}

.footer {
    margin-top: 15px;
    text-align: center;
    padding: 5px 20px;
    background-color: #28705c;
    display: block;
    
}

a {
    text-decoration: none;
    color: white;
}

.form {
    background-color: white;
    height: 70vh;
    padding: 20px;
    border-radius: 4px;
    margin-top: 50px;
    
}